mixin chat-item(url, name, sender, message, time, notification)
    script(type="module").
      import ChatItem from "/src/components/chat-item/chat-item.ts";
      document.currentScript.parentNode.innerHTML += (new ChatItem({
      url: "#{url}",
      name: "#{name}",
      sender: "#{sender}",
      message: "#{message}",
      time: "#{time}",
      notification: "#{notification}",
      })).element
