mixin chat-item(url, name, sender, message, time, notification)
  - const id = Math.random() * 100000;
  script(id=id, type="module").
      import ChatItem from "/src/components/chat-item/chat-item.ts";
      document.getElementById("#{id}").parentNode.innerHTML += (new ChatItem({
      url: "#{url}",
      name: "#{name}",
      sender: "#{sender}",
      message: "#{message}",
      time: "#{time}",
      notification: "#{notification}",
      })).element
