mixin input(_id, type, name)
  - const id = Math.random() * 100000;
  div
      script(id=id, type="module").
          import Input from "/src/components/input/input.ts";
          document.getElementById("#{id}").parentNode.innerHTML += (new Input({
          id: "#{_id}",
          type: "#{type}",
          name: "#{name}"
          })).element
